<?xml version="1.0" ?>
<model>
  <name>hexapod_description</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Naomi Hernández</name>
    <email>naomi.hernandez@inegenieria.unam.edu</email>
  </author>
  <description>Escalera personalizada exportada desde SolidWorks.</description>
</model>
