<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="hexapod_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            <joint name="leg1_jointA">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg1_jointA']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg1_jointB">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg1_jointB']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg1_jointC">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg1_jointC']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg2_jointA">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg2_jointA']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg2_jointB">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg2_jointB']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg2_jointC">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg2_jointC']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg3_jointA">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg3_jointA']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg3_jointB">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg3_jointB']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg3_jointC">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg3_jointC']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg4_jointA">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg4_jointA']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg4_jointB">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg4_jointB']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg4_jointC">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg4_jointC']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg5_jointA">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg5_jointA']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg5_jointB">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg5_jointB']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg5_jointC">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg5_jointC']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg6_jointA">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg6_jointA']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg6_jointB">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg6_jointB']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leg6_jointC">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leg6_jointC']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
