<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="hexapod">

  <gazebo reference="leg1_linkP">
    <mu1>1.8</mu1>
    <mu2>1.8</mu2>
  </gazebo>

  <gazebo reference="leg2_linkP">
    <mu1>1.8</mu1>
    <mu2>1.8</mu2>
  </gazebo>

  <gazebo reference="leg3_linkP">
    <mu1>1.8</mu1>
    <mu2>1.8</mu2>
  </gazebo>

  <gazebo reference="leg4_linkP">
    <mu1>1.8</mu1>
    <mu2>1.8</mu2>
  </gazebo>

  <gazebo reference="leg5_linkP">
    <mu1>1.8</mu1>
    <mu2>1.8</mu2>
  </gazebo>

  <gazebo reference="leg6_linkP">
    <mu1>1.8</mu1>
    <mu2>1.8</mu2>
  </gazebo>

</robot>
